*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

## Missing from the generated gitignore
.idea/androidTestResultsUserPreferences.xml
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetDropDown.xml
.idea/emulatorDisplays.xml
.idea/graphql-settings.xml
.idea/runConfigurations.xml
.idea/studiobot.xml